/private
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
.DS_Store
.vscode/
.idea/
dist/
build/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.pyre/
.pytype/
.ipynb_checkpoints/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
gitauth.egg-info/
gitauth.egg-info/PKG-INFO
